<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About Me | M@A</title>
    <link rel="stylesheet" href="/static/styles.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
    />
  </head>
  <body>
    <header>
      <div class="container">
        <h1 class="logo">M@Ahmad</h1>
        <nav>
          <ul>
            <li><a href="home">Home</a></li>
            <li><a href="about" class="active">About</a></li>
            <li><a href="projects">Projects</a></li>
            <li><a href="contact">Contact</a></li>
          </ul>
        </nav>
      </div>
    </header>

    <section class="about-section">
      <div class="container">
        <h2>About Me</h2>
        <div class="about-content">
          <div class="about-text">
            <h3>Computer Science Student At NUST</h3>
            <p>
              I'm a second-year Computer Science student at National University
              of Sciences and Technology with a passion for software
              development, algorithms, and cloud computing. I enjoy solving
              complex problems and building efficient, scalable solutions.
            </p>
            <p>
              My journey in tech began when I wrote my first "Hello World"
              program in C++. Since then, I've expanded my skills to include
              full-stack development, version controlling and cloud computing.
            </p>

            <div class="education">
              <h4>Education</h4>
              <div class="edu-item">
                <h5>BSc in Computer Science</h5>
                <p>
                  <b>
                    National University of Sciences and Technology (NUST) | 2024
                    - 2028
                  </b>
                </p>
                <!-- <p>GPA: 3.8/4.0</p> -->
                <p>
                  <b>Relevant Coursework:</b> Fundamentals Of Programming,
                  Object Oriented Programming, Algorithms, Database Systems
                </p>
              </div>
            </div>
          </div>
          <div class="skills">
            <h4>Technical Skills</h4>
            <div class="skill-category">
              <h5>Programming Languages</h5>
              <ul>
                <li>
                  Python
                  <span class="skill-bar"
                    ><span class="skill-level" style="width: 90%"></span
                  ></span>
                </li>
                <li>
                  Java
                  <span class="skill-bar"
                    ><span class="skill-level" style="width: 70%"></span
                  ></span>
                </li>
                <!-- <li>
                  Html / CSS
                  <span class="skill-bar"
                    ><span class="skill-level" style="width: 70%"></span
                  ></span>
                </li> -->
                <li>
                  C++
                  <span class="skill-bar"
                    ><span class="skill-level" style="width: 60%"></span
                  ></span>
                </li>
              </ul>
            </div>
            <div class="skill-category">
              <h5>Web Development</h5>
              <ul>
                <li>
                  HTML/CSS
                  <span class="skill-bar"
                    ><span class="skill-level" style="width: 75%"></span
                  ></span>
                </li>
                <li>
                  Flask
                  <span class="skill-bar"
                    ><span class="skill-level" style="width: 70%"></span
                  ></span>
                </li>
                <!-- <li>
                  Node.js
                  <span class="skill-bar"
                    ><span class="skill-level" style="width: 75%"></span
                  ></span>
                </li>
                <li>
                  Django
                  <span class="skill-bar"
                    ><span class="skill-level" style="width: 70%"></span
                  ></span>
                </li> -->
              </ul>
            </div>
            <div class="skill-category">
              <h5>Other Technologies</h5>
              <ul>
                <li>
                  Git
                  <span class="skill-bar"
                    ><span class="skill-level" style="width: 85%"></span
                  ></span>
                </li>
                <!-- <li>
                  Docker
                  <span class="skill-bar"
                    ><span class="skill-level" style="width: 70%"></span
                  ></span>
                </li>
                <li>
                  AWS
                  <span class="skill-bar"
                    ><span class="skill-level" style="width: 65%"></span
                  ></span>
                </li> -->
                <li>
                  SQL
                  <span class="skill-bar"
                    ><span class="skill-level" style="width: 80%"></span
                  ></span>
                </li>
                <li>
                  SQLite3
                  <span class="skill-bar"
                    ><span class="skill-level" style="width: 85%"></span
                  ></span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>

    <footer>
      <div class="container">
        <p>&copy; 2025 Muhammad Ahmad. All rights reserved.</p>
        <div class="social-links">
          <a href="#"><i class="fab fa-github"></i></a>
          <a href="#"><i class="fab fa-linkedin"></i></a>
          <!-- <a href="#"><i class="fab fa-twitter"></i></a> -->
        </div>
      </div>
    </footer>
  </body>
</html>
