<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Projects | M@A</title>
    <link rel="stylesheet" href="/static/styles.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
    />
  </head>
  <body>
    <header>
      <div class="container">
        <h1 class="logo">M@Ahmad</h1>
        <nav>
          <ul>
            <li><a href="home">Home</a></li>
            <li><a href="about">About</a></li>
            <li><a href="projects" class="active">Projects</a></li>
            <li><a href="contact">Contact</a></li>
          </ul>
        </nav>
      </div>
    </header>

    <section class="projects-section">
      <div class="container">
        <h2>My Projects</h2>
        <div class="projects-grid">
          <div class="project-card">
            <!-- <div class="project-image">
              <img
                src="https://via.placeholder.com/400x250?text=Algorithm+Visualizer"
                alt="Algorithm Visualizer"
              />
            </div> -->
            <div class="project-content">
              <h3>Library Management System</h3>
              <p class="tech-stack">C++ • MySQL • SFML</p>
              <p>
                Interactive desktop application for managing different
                operations in library. From adding books to managing library
                employees
              </p>
              <div class="project-links">
                <a href="#" class="btn-code"
                  ><i class="fab fa-github"></i> View Code</a
                >
                <!-- <a href="#" class="btn-demo">Live Demo</a> -->
              </div>
            </div>
          </div>

          <div class="project-card">
            <!-- <div class="project-image">
              <img
                src="https://via.placeholder.com/400x250?text=E-Commerce+App"
                alt="E-Commerce App"
              />
            </div> -->
            <div class="project-content">
              <h3>Stake Game</h3>
              <p class="tech-stack">C++ • SFML</p>
              <p>
                Full-stack stock management game for newbies learning stock
                management and operations with realtime graphs and statistics.
              </p>
              <div class="project-links">
                <a href="#" class="btn-code"
                  ><i class="fab fa-github"></i> View Code</a
                >
                <!-- <a href="#" class="btn-demo">Live Demo</a> -->
              </div>
            </div>
          </div>

          <div class="project-card">
            <!-- <div class="project-image">
              <img
                src="https://via.placeholder.com/400x250?text=ML+Sentiment+Analysis"
                alt="Sentiment Analysis"
              />
            </div> -->
            <div class="project-content">
              <h3>Student Management System</h3>
              <p class="tech-stack">C++</p>
              <p>
                Terminal based student management system with features such as
                manipulating student data, finding top-scorers, filtering failed
                students etc.
              </p>
              <div class="project-links">
                <a href="#" class="btn-code"
                  ><i class="fab fa-github"></i> View Code</a
                >
                <!-- <a href="#" class="btn-demo">Live Demo</a> -->
              </div>
            </div>
          </div>

          <div class="project-card">
            <!-- <div class="project-image">
              <img
                src="https://via.placeholder.com/400x250?text=Task+Manager"
                alt="Task Manager"
              />
            </div> -->
            <div class="project-content">
              <h3>Online Voting Application</h3>
              <p class="tech-stack">Java • XML • AndroidStudio</p>
              <p>
                Full-stack online voting mobile application for Overseas
                Pakistanis with features from authentication to Vote casting to
                favourite members.
              </p>
              <div class="project-links">
                <a href="#" class="btn-code"
                  ><i class="fab fa-github"></i> View Code</a
                >
                <!-- <a href="#" class="btn-demo">Live Demo</a> -->
              </div>
            </div>
          </div>

          <div class="project-card">
            <!-- <div class="project-image">
              <img
                src="https://via.placeholder.com/400x250?text=Compiler"
                alt="Compiler"
              />
            </div> -->
            <div class="project-content">
              <h3>Youtube Manager Application</h3>
              <p class="tech-stack">Python • SQLite3</p>
              <p>
                Python based application for managing youtube account with
                reltime data storage and retrieval from dataabase.
              </p>
              <div class="project-links">
                <a href="#" class="btn-code"
                  ><i class="fab fa-github"></i> View Code</a
                >
                <!-- <a href="#" class="btn-demo">Live Demo</a> -->
              </div>
            </div>
          </div>

          <div class="project-card">
            <!-- <div class="project-image">
              <img
                src="https://via.placeholder.com/400x250?text=Portfolio+Website"
                alt="Portfolio Website"
              />
            </div> -->
            <div class="project-content">
              <h3>Weather Application using API</h3>
              <p class="tech-stack">Python • API Handling • Tkinter</p>
              <p>
                Responsive weather application showing realtime weather
                information for all cities around the globe.
              </p>
              <div class="project-links">
                <a href="#" class="btn-code"
                  ><i class="fab fa-github"></i> View Code</a
                >
                <!-- <a href="#" class="btn-demo">Live Demo</a> -->
              </div>
            </div>
          </div>

          <div class="project-card">
            <!-- <div class="project-image">
              <img
                src="https://via.placeholder.com/400x250?text=Portfolio+Website"
                alt="Portfolio Website"
              />
            </div> -->
            <div class="project-content">
              <h3>Personal Portfolio Website</h3>
              <p class="tech-stack">HTML • CSS • Flask</p>
              <p>
                Responsive personal website showcasing projects, skills, and
                contact information (this website!).
              </p>
              <div class="project-links">
                <a href="#" class="btn-code"
                  ><i class="fab fa-github"></i> View Code</a
                >
                <!-- <a href="#" class="btn-demo">Live Demo</a> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <footer>
      <div class="container">
        <p>&copy; 2025 Muhammad Ahmad. All rights reserved.</p>
        <div class="social-links">
          <a href="#"><i class="fab fa-github"></i></a>
          <a href="#"><i class="fab fa-linkedin"></i></a>
          <!-- <a href="#"><i class="fab fa-twitter"></i></a> -->
        </div>
      </div>
    </footer>
  </body>
</html>
